# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
ENV/

# OS files
.DS_Store

# Data files (optional)
*.csv
*.xlsx
*.parquet

# Python packaging
*.egg-info/
